@import url(./common.css);
@import url(./font.css);

@mixin MainTitle {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 60px 0;
}

@mixin MainTitle_before {
    content: "";
    position: absolute;
    inset: auto auto -30px 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1px;
    background: #555;
}

@mixin Inner {
    width: 1200px;
    margin: 0 auto;
}


.header {
    position: relative;
    line-height: 80px;
    min-width: 1200px;
    background: #fff7f7;


    &::before {
        content: "";
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, 0);
        width: 100%;
        height: 1px;
        background: #ddd;
    }

    .inner {
        @include Inner;

        .top {
            display: flex;
            justify-content: space-between;

            h1 {
                font-size: 20px;
                flex: 1;
            }

            .search {}

            .cart {
                font-size: 20px;
                flex: 1;
                text-align: right;
            }
        }

        .gnb {
            ul {
                display: flex;
                justify-content: center;
                gap: 20px;
                text-transform: capitalize;
            }
        }



    }
}

main {
    .MainSlide {
        padding: 100px 0;
        background: linear-gradient(rgb(255 255 255), #fff7f7);
        min-width: 1200px;

        .inner {
            position: relative;
            @include Inner;

            .arrows {
                position: absolute;
                inset: auto auto 0 50%;
                font-size: 30px;

                cursor: pointer;

                .prev {
                    position: absolute;
                    transform: translate(-50%, -100%);
                    margin: 0 0 0 -150px;
                }

                .next {
                    position: absolute;
                    margin: 0 0 0 150px;
                    transform: translate(-50%, -100%);
                }

            }

            .title {
                @include MainTitle;

                // &::before {
                //     @include MainTitle_before;
                // }
            }

            .slider {
                margin: 0 -15px;

                .itm {
                    padding: 0 15px;
                    margin: 0 0 40px 0;

                    figure {
                        img {
                            width: 100%;
                            height: 250px;
                            object-fit: cover;
                        }
                    }

                    .desc {
                        padding: 20px 0;

                        h3 {
                            font-weight: 500;
                            height: 60px;
                            line-height: 1.1;
                        }

                        p {
                            font-size: 15px;
                            line-height: 1.2;
                            height: 70px;
                        }

                        span {
                            font-size: 15px;
                        }
                    }
                }

                .slick-dots {
                    text-align: center;
                    padding: 5px 0;

                    li {
                        display: inline-block;
                        margin: 0 2px;

                        button {
                            font-size: 0;
                            width: 20px;
                            height: 20px;
                            border: none;
                            border-radius: 50%;
                            background: #ddd;
                            cursor: pointer;
                        }
                    }

                    li.slick-active {
                        button {
                            background: tomato;
                        }
                    }
                }
            }
        }
    }

    .AllList {
        padding: 100px 0;

        .inner {
            @include Inner;

            .title {
                @include MainTitle;
            }

            .page_num {
                display: flex;
                justify-content: center;
                margin: 0 0 40px 0;



                button {
                    width: 40px;
                    height: 25px;
                    border: none;
                    background: #fff6f6;
                    border-radius: 0;
                    cursor: pointer;
                }

                .page {
                    margin: 0 1px;

                }

                .prev,
                .next {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 1px;
                }
            }

            ul {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 30px;

                li {
                    figure {
                        img {
                            width: 100%;
                            height: 230px;
                            object-fit: cover;
                        }
                    }

                    .desc {
                        padding: 20px 0;

                        h3 {
                            font-weight: 500;
                            height: 60px;
                            line-height: 1.1;
                        }

                        p {
                            font-size: 15px;
                            line-height: 1.2;
                            height: 70px;
                        }

                        span {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}



.footer {
    padding: 40px 0 60px 0;
    color: #fff;
    background: #333;
    min-width: 1200px;
    text-align: center;
}

.ToCart {
    position: fixed;
    inset: auto 50px 50px auto;
    width: 50px;
    height: 50px;
    background: #6d51c3;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 15px;
    }
}